  <ion-modal-view cache-view="false">
  <div class="list card" style="border-radius:6px; padding: 5px;">
    <div class="item item-image" style="height: 220px;">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" options="marker.options"  idkey="marker.id">
        </ui-gmap-marker>    
      </ui-gmap-google-map>
    </div>  
  
 
    <ion-slide-box class="item item-body"  style="background-color: #256a31; color:white; height: 150px;" on-slide-changed="slideHasChanged($index)">
      <ion-slide style="padding: 5px;" >
          <h2 style="color: white;" class="vertical-center text-center wrapping-text">{{offer.desc}}</h2>
      </ion-slide>
      <ion-slide style="padding: 5px;">
          <h2 style="color: white;" class="vertical-center text-center wrapping-text">{{offer.desc2}} </h2>
      </ion-slide>
      <ion-slide style="padding: 5px;">
         <h2 style="color: white;" class="vertical-center text-center wrapping-text">CODE: {{offer.promo_code}}</h2>
         <barcode type="code128c" string="22" options="options"></barcode><br>
      </ion-slide>
    </ion-slide-box>     
      
    <div class="item item-image">
      <img style="width:30%; margin: 0 auto; text-align: center; margin-top:5px; margin-bottom:5px;" ng-src="http://hawaiiqpon.lordconsulting.net/uploads/{{offer.img}}"  onerror="this.src = 'img/logo.png';">
      <h4 ng-if="!offer.hasImage" class="vertical-center text-center offer-text">{{offer.vendor}}</h4>
      <h4 class="vertical-center text-center offer-text">{{offer.address}}</h4>
        <div class="button-bar">
          <a class="button button-calm" href="tel:{{offer.vendor_phone}}" target="_blank"><i class="icon ion-ios-telephone offer-icon"></i></a>
          <a id="launch" class="button button-calm" href="{{offer.vendor_url}}" target="_blank"><i class="icon ion-earth offer-icon"></i></a>
          <a class="button button-calm" href="#" ng-click="addFavorite(offer)"><i class="icon ion-android-favorite-outline offer-icon"></i></a>
        </div>        
        <button class="button button-full button-balanced" ng-click="closeOffer()">
          Close
        </button>         
    </div>    
  </div>
</ion-modal-view>
  
  