<ion-view view-title="Favorites">
 <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left" ui-sref="app.main">
          Back
        </button>
      </ion-nav-buttons>
   
      
      <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-android-favorite-outline" ui-sref="favorites">{{favorites.length}}</button>
      </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content>
    <!-- Display message when no favorites exist -->
    <div class="vertical-center-container" >
      <div ng-if="favorites.length <= 0" class="vertical-center text-center">
        <h1><i class="icon ion-heart-broken assertive"></i></h1>
        <p>Looks like you haven't added any favorites...</p>
      </div>
      <div ng-if="favorites.length > 0" class="vertical-center text-center">
        <ion-list class="list" can-swipe="true"> 
          <ion-item class="item-thumbnail-left" ng-click="openOffer(coupon)"   ng-repeat="coupon in favorites  | orderBy:'distance' track by $index">
            <img  ng-src="http://hawaiiqpon.lordconsulting.net/uploads/{{coupon.img}}" onerror="this.src = 'img/logo.png';" style="height:auto; width:50%;">
            <h3>{{coupon.vendor}} </h3>
            <p>{{coupon.title}}</p>
            <p>Distance: {{coupon.distance}} mile(s)</p>
            <ion-option-button class="button-assertive icon ion-ios-close-outline" ng-click="removeFavorite($index)"> Remove</ion-option-button> 
          </ion-item>          
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
