<ion-view view-title="HawaiiQpons">
  
  <ion-tabs class="tabs-icon-top tabs-calm">
          

                 
        <!-- Actvities Tab View -->
        <ion-tab title="Activities" icon="icon ion-ios-location-outline "  ui-sref="app.main.activities">
            <ion-nav-view name="app-activities"></ion-nav-view>
        </ion-tab>
  
        <!-- Dining Tab View -->
        <ion-tab title="Dining" icon="icon ion-wineglass " ui-sref="app.main.dining">
            <ion-nav-view name="app-dining"></ion-nav-view>
        </ion-tab>
 
         <!-- Actvities Tab View -->
        <ion-tab title="Near By" icon="icon ion-compass "  ui-sref="app.main.all">
            <ion-nav-view name="app-all"></ion-nav-view>
        </ion-tab>
 
  
        <!-- Services Tab View -->
        <ion-tab title="Services" icon="icon ion-ios-people-outline " ui-sref="app.main.services">
            <ion-nav-view name="app-services"></ion-nav-view>
        </ion-tab>
        
        <!-- Shopping Tab View -->
        <ion-tab title="Shopping" icon="icon ion-bag " ui-sref="app.main.shopping">
            <ion-nav-view name="app-shopping"></ion-nav-view>
        </ion-tab>
  
        
        <!-- Favorites Tab View -->
        <!--
        <ion-tab title="Favorites" icon="icon ion-android-favorite-outline " ui-sref="app.main.favorites">
            <ion-nav-view name="app-favorites"></ion-nav-view>
        </ion-tab> 
        -->
  </ion-tabs>    
</ion-view>