<ion-view view-title="HawaiiQpons">
  <ion-tabs class="tabs-icon-top tabs-calm">
        <!-- Dining Tab View -->
        <ion-tab title="Dining" icon="icon ion-wineglass" ui-sref="app.home.map">
            <ion-nav-view name="tab-map"></ion-nav-view>
        </ion-tab>
  
  
        <!-- Actvities Tab View -->
        <ion-tab title="Activities" icon="icon ion-ios-location-outline" ui-sref="app.home.card">
            <ion-nav-view name="tab-card"></ion-nav-view>
        </ion-tab>
  
  
        <!-- Services Tab View -->
        <ion-tab title="Services" icon="icon ion-ios-people-outline" ui-sref="app.home.list">
            <ion-nav-view name="tab-list"></ion-nav-view>
        </ion-tab>
        
        <!-- Shopping Tab View -->
        <ion-tab title="Shopping" icon="icon ion-bag" ui-sref="app.home.card">
            <ion-nav-view name="tab-card"></ion-nav-view>
        </ion-tab>
  
  
        <!-- Favorites Tab View -->
        <ion-tab title="Favorites" icon="icon ion-android-favorite-outline" ui-sref="app.home.list">
            <ion-nav-view name="tab-list"></ion-nav-view>
        </ion-tab>  
  </ion-tabs>
</ion-view>