<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
   
      
      <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-android-favorite-outline" menu-close ui-sref="favorites"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content has-bouncing="false" scroll="false" class="menu-outer">
      <div class="row menu-top-options">
        <div class="col col-top">
          <ion-list>
            
            <ion-item class="heading-item" menu-close>
              <div class="row">
                <div class="col">
                  <!-- We need a wrapper with width set for the preload image directive -->
                  <div class="user-image-outer">
                    <pre-img ratio="_1_1" helper-class="rounded-image">
                      <img class="user-image" ng-src="img/logo.png" spinner-on-load>
                  	</pre-img>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h1 class="side_qpon">HawaiiQpons</h1>
                </div>
              </div>
            </ion-item>
            
            <ion-item>
              Search Radius: {{settings.radius}}
            </ion-item>
            <ion-item class="range range-energized">
              1
              <input type="range" name="volume" min="0" max="100" value="25" ng-model="settings.radius">
              100
            </ion-item>
            
          </ion-list>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
